html{
  background:url("office.jpg")no-repeat center center fixed;
  z-index:-1;
  background-size: cover;
}

body{
  font-family: 'Podkova', serif;
}

h1, h2, h3{
  text-align: center;
  color: black;
}

a{
  text-decoration: none;
}

ul{
  list-style-type: none;
}

.links {
  text-align: center;
}

.links li{
  color:black;
  width:100%;
  border-color: blue;
  display: inline;
  margin: 0 8%;
  font-size: 1.2em;
  font-weight: 600;

}

.links a:hover{
  color: #8F8AB4;
}

.description {
  text-align: center;
}

.description p{
  width: 400px;
  margin: 20px;
  padding: 10px;
  border: 2px solid rgba(180,180,180, 0.8);
  border-radius: 5px;
  font-family: 'EB Garamond', serif;
  font-size:1.2em;
  font-weight: 500;
  background-color: rgba(219,212,219, 0.6);
  display: inline-block;
}


footer img{
  float: right;
  padding: 12px;
  margin-top: 10vw;

}
